<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/login_styles.css' %}">
</head>
<body>
<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Registration</div>
            {% if show %}
            <div class='error'>This username is already taken!</div>
            {% endif %}
            <form name="register" method="post">{% csrf_token %}
                <div class='input-fields'>
                    <input type='text' placeholder='Username' name="username" class='input-line full-width' required>
                    <input type='password' placeholder='Password' name="password" class='input-line full-width'
                           required>
                </div>
                <button class='ghost-round full-width' type="submit" name="register">Create Account</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>